.ball{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: aquamarine;
    animation: bounce 1s infinite linear;
    animation-direction: alternate;
}
@keyframes bounce{
    form{
        transform: translate3d(0, 0, 0);

    }
    to{
        transform: translate3d(640px, 0, 0);
    }
}